appdirs==1.4.4
boto==2.38.0
chardet==2.3.0
configparser==4.0.2
contextlib2==0.6.0.post1
crcmod==1.7
distlib==0.3.0
filelock==3.0.12
google-compute-engine==20190801.0
importlib-metadata==1.6.1
importlib-resources==2.0.1
pathlib2==2.3.5
requests==2.9.1
scandir==1.10.0
singledispatch==3.4.0.3
six==1.10.0
typing==3.7.4.1
UNKNOWN==0.0.0
urllib3==1.13.1
virtualenv==20.0.23
zipp==1.2.0
